@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;700&display=swap');

:root {
    //fonts
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    //colors
    --color-principal: #0d3b66; 
    --color-secundario: white; 
    

}